.welcome-section {
    margin: 20px 0;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.welcome {
    font-size: 35px;
    margin: 10px 0;
}

.duration {
    font-size: 25px;
    margin: 10px 0;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d50000;
}
