@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo {
    display: flex;
    align-items: center;
}
img {
    max-width: 100px;
    margin-right: 10px;
}
.step-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.step {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-right: 15px;
    text-align: center;
    z-index: 1;
    width: 120px;
}
.step.confirmation {
    background-color: yellow; /* 現在のステップの背景色 */
    font-weight: bold;
}
.form-container {
    margin-top: 20px;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
    padding: 5px; /* 内側の余白 */
    border-radius: 3px; /* 角を丸める */
}
.form-group label {
    display: block; /* ラベルをブロック要素に */
    margin-bottom: 5px;
    background-color: hsl(35, 78%, 80%); /* 薄い黄色 */
    padding: 5px; /* 内側の余白 */
    border-radius: 3px; /* 角を丸める */
}
.input-container {
    display: flex; /* フレックスボックスを使用 */
    gap: 15px; /* 入力ボックス間のスペース */
}
.input-container input {
    width: calc(50% - 7.5px); /* 幅を50%に設定 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-container {
    display: flex;
    justify-content: flex-end; /* ボタンを右端に配置 */
    margin-top: 20px;
}
.btn {
    padding: 10px 15px;
    background-color: yellow; /* ボタンの背景色 */
    color: black; /* ボタンの文字色 */
    text-decoration: none;
    border-radius: 5px;
}
.radio-group {
    margin: 10px 0; /* ラジオボタンのマージン */
}
.select-container {
    display: flex; /* フレックスボックスを使用 */
    gap: 10px; /* セレクトボックス間のスペース */
}
.select-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.box{
    border: 2px solid black; /* 枠線のスタイル */
    padding: 10px; /* 内側の余白 */
    width: 1000px; /* 幅 */  
}
.button-container{
    display:flex;
    gap: 10px;

}
input[type="button"] {
    background-color: orange; /* ボタンの背景色をオレンジに */
    color: black; /* 文字色を白に */
    border: none; /* ボタンの枠線をなしに */
    padding: 10px 20px; /* ボタンの内側の余白 */
    cursor: pointer; /* カーソルをポインターに */
    border-radius: 5px; /* ボタンの角を丸くする */
}
input[type="button"]:hover {
    background-color: darkorange; /* ホバー時の色を変更 */
}
.form-licence label {
    display: block; /* ラベルをブロック要素に */
    margin-bottom: 5px;
    background-color: hsl(49, 95%, 85%); /* 薄い黄色 */
    padding: 5px; /* 内側の余白 */
    border-radius: 3px; /* 角を丸める */
}